@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 20 14.3% 4.1%;

		--muted: 60 4.8% 95.9%;
		--muted-foreground: 25 5.3% 44.7%;

		--popover: 0 0% 100%;
		--popover-foreground: 20 14.3% 4.1%;

		--card: 0 0% 100%;
		--card-foreground: 20 14.3% 4.1%;

		--border: 20 5.9% 90%;
		--input: 20 5.9% 90%;

		--primary: 24 95% 50%; /* Changed to a vibrant orange */
		--primary-foreground: 60 9.1% 97.8%;

		--secondary: 60 4.8% 95.9%;
		--secondary-foreground: 24 9.8% 10%;

		--accent: 60 4.8% 95.9%;
		--accent-foreground: 24 9.8% 10%;

		--destructive: 0 72.2% 50.6%;
		--destructive-foreground: 60 9.1% 97.8%;

		--ring: 24 95% 50%; /* Changed to match the primary color */

		--radius: 0.5rem;
	}

	.dark {
		--background: 220 17% 17%;
		--foreground: 220 13% 91%;

		--muted: 220 16% 22%;
		--muted-foreground: 220 15% 65%;

		--popover: 220 17% 17%;
		--popover-foreground: 220 13% 91%;

		--card: 220 17% 17%;
		--card-foreground: 220 13% 91%;

		--border: 220 16% 25%;
		--input: 220 16% 25%;

		--primary: 24 70% 40%; /* Muted orange */
		--primary-foreground: 220 13% 91%;

		--secondary: 220 16% 22%;
		--secondary-foreground: 220 13% 91%;

		--accent: 24 70% 40%; /* Muted orange */
		--accent-foreground: 220 13% 91%;

		--destructive: 0 62% 30%;
		--destructive-foreground: 220 13% 91%;

		--ring: 24 70% 40%; /* Muted orange */

		--radius: 0.5rem;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
